repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.4.0
      hooks:
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-toml
          - id: check-yaml
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: forbid-new-submodules
          - id: trailing-whitespace
    - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
      rev: v0.1.0
      hooks:
          - id: dockerfilelint
    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.27.1
      hooks:
          - id: markdownlint
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.2.1
      hooks:
          - id: prettier
            args:
                - --config-precedence=file-override
            additional_dependencies:
                - prettier@2.2.1
    - repo: https://github.com/psf/black
      rev: 21.4b2
      hooks:
          - id: black
            language_version: python3.9
    - repo: meta
      hooks:
          - id: check-hooks-apply
          - id: check-useless-excludes
