repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: check-added-large-files
            exclude: |
                (?x)^(
                  docu/images/.*\.png|
                  docu/images/.*\.svg|
                  tests/data/two_frames_unaligned_shifted\.sdriq|
                  tests/data/two_frames_unaligned\.sdriq
                )$
          - id: check-merge-conflict
          - id: check-toml
          - id: check-yaml
          - id: detect-private-key
          - id: end-of-file-fixer
            exclude: '.*\.ipynb'
          - id: forbid-new-submodules
          - id: trailing-whitespace
    - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
      rev: v0.1.0
      hooks:
          - id: dockerfilelint
    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.29.0
      hooks:
          - id: markdownlint
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.4.1
      hooks:
          - id: prettier
            args:
                - --config-precedence=file-override
            additional_dependencies:
                - prettier@2.3.2
                - prettier-plugin-toml@0.3.1
    - repo: https://github.com/psf/black
      rev: 21.9b0
      hooks:
          - id: black
            language_version: python3.9
    - repo: https://github.com/PyCQA/flake8
      rev: 4.0.1
      hooks:
          - id: flake8
    - repo: https://github.com/kynan/nbstripout
      rev: 0.5.0
      hooks:
          - id: nbstripout
    - repo: meta
      hooks:
          - id: check-hooks-apply
          - id: check-useless-excludes
