name: doc-build

on: [push, pull_request]

jobs:
    doc_build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: ./.github/actions/latex
              with:
                  args: latexmk -cd -pdf -interaction=nonstopmode -file-line-error docu/report.tex
            - uses: actions/upload-artifact@v2
              with:
                  name: Internship Report
                  path: docu/report.pdf
